body {
    background: #007aff;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

#form input {
    padding: 10px;
    border-radius: 7px;
    border-style: none;
}

#form--btn {
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    width: 100px;
    background: #c6c6c6;
    color: black;
}